$govuk-assets-path: "/new-computerised-transit-system-service-availability/assets/lib/govuk-frontend/dist/govuk/assets/";
$hmrc-assets-path: "/new-computerised-transit-system-service-availability/assets/lib/hmrc-frontend/hmrc/";
@import "lib/hmrc-frontend/hmrc/all";
@import "lib/govuk-frontend/dist/govuk/all";

$govuk-new-organisation-colours: true;

// Components
@import "components/_typography";

@import "components/service-availability";
